/* Au cas où mais déjà présent dans le commonFreshlyRestaurant.css */
* {
    font-size: 18px;
}

#liAContact {
    background-color: #4c4343;
}
#aContact {
    color: white;
}

@media screen and (min-width: 780px) {
    #liAContact {
        background-color: #4c4343;
        padding: 0 .7em;
    }
}